*{
    font-family: 'Open Sans',sans-serif,Arial,Helvetica;;
    font-size: 15px;
}

h1{
    color: rgb(9, 17, 87);
    font-size: 25px;

}

.div1{
    background-color: #40bda9;
    padding: 15px;
    color: azure;
}

.BOLD{
    font-weight: bold;
}